/*----------------------------------------------
	Site Footer
----------------------------------------------*/

.site-footer {
	background: darken($soap-color,40%) !important;
	color: #fff;
	padding: 5em 0;
	text-align: center;
}

.back-to-top-wrapper {
    position: relative;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 9;
	opacity: .6;	

	    
    &:hover,
    &:focus {
	    opacity: .9;    
    }   	    
    
    a {    
	    border: 0;
	    font-size: 2.5rem;
	    display: flex;
		align-items: center;
		justify-content: center;	    
	    width: $round-button-size;
	    height: $round-button-size;
	    border-radius: 50%;
	    background: $text-color;
	    
		svg {
			fill: #fff;
			width: 40%;
			height: 40%;
		}		       	    
    }
}

@media (max-width: 991px) {
	.back-to-top-wrapper {
	    opacity: .3;
	    
	}
}